<footer class="footer">
    <p>© 1998-2000 Nintendo/Creatures Inc./Game Freak Inc. © 2000 Nintendo. (TM) and ® are trademarks of Nintendo Co., Ltd.</p>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>