body {
    background: rgb(255, 206, 49);
    background: radial-gradient(circle, rgba(255, 206, 49, 1) 14%, rgba(60, 51, 153, 1) 91%);
    position: relative;
    padding-bottom: 3em;
    min-height: 100vh;
}
<<<<<<< HEAD

=======
>>>>>>> 725448e227435bf8d8f778e0f0a3c0a1d8df730f
main {
    padding: 60px;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    font-family: 'Roboto Mono', monospace;
    color: azure;
}
<<<<<<< HEAD

=======
>>>>>>> 725448e227435bf8d8f778e0f0a3c0a1d8df730f
#section1 {
    margin-left: 50%;
    background-color: #BD0F34;
    height: 700px;
    width: 520px;
    border-radius: 10%;
    position: relative;
    display: flex;
}
<<<<<<< HEAD

.pad {
    position: absolute; 
=======
.pad {
    position: absolute;
>>>>>>> 725448e227435bf8d8f778e0f0a3c0a1d8df730f
    height: 105px;
    width: 105px;
    margin-top: 105%;
    margin-left: 300px;
}
<<<<<<< HEAD

=======
>>>>>>> 725448e227435bf8d8f778e0f0a3c0a1d8df730f
.amarillo {
    height: 70px;
    width: 130px;
    border-radius: 5px;
    background-color: #F9EE60;
    position: absolute;
    margin-top: 111%;
    margin-left: 25%;
<<<<<<< HEAD

}

=======
}
>>>>>>> 725448e227435bf8d8f778e0f0a3c0a1d8df730f
.cir-negro {
    position: relative;
    width: 60px;
    height: 60px;
    margin-top: 104%;
    margin-left: 7%;
    border-radius: 70px;
    background-color: #1A1E1E;
}
<<<<<<< HEAD

=======
>>>>>>> 725448e227435bf8d8f778e0f0a3c0a1d8df730f
.barra-verde {
    position: relative;
    background-color: green;
    width: 55px;
    height: 10px;
    margin-top: 102%;
    margin-left: 6%;
    border-radius: 5px;
}
<<<<<<< HEAD

=======
>>>>>>> 725448e227435bf8d8f778e0f0a3c0a1d8df730f
.barra-roja {
    position: relative;
    background-color: #FF4763;
    width: 55px;
    height: 10px;
    margin-top: 102%;
    margin-left: 5%;
    border-radius: 5px;
}
<<<<<<< HEAD

=======
>>>>>>> 725448e227435bf8d8f778e0f0a3c0a1d8df730f
.contenedor-pcard {
    position: relative;
    flex-direction: row;
    height: 40%;
    width: 70%;
    top: 230px;
    font-family: 'Roboto Mono', monospace;
    border-radius: 20px;
    color: #000;
    text-align: center;
    padding: 10px;
    margin-left: -43.5%;
    background-color: #DEDEDE;
    border: 1px solid black;
}
<<<<<<< HEAD

=======
>>>>>>> 725448e227435bf8d8f778e0f0a3c0a1d8df730f
.poke-card {
    position: absolute;
    font-family: 'Roboto Mono', monospace;
    border-radius: 20px;
    color: #000;
    background-color: #28AAFD;
    border: 5px solid black;
    height: 75%;
    width: 75%;
    margin-left: 10%;
    margin-top: 5%;
    padding-top: 15px;
}
<<<<<<< HEAD

.poke-img {
    width: 180px;
}

=======
.poke-img {
    width: 180px;
}
>>>>>>> 725448e227435bf8d8f778e0f0a3c0a1d8df730f
#enlace {
    background-color: #CE1131;
    margin-top: auto;
    height: 700px;
    width: 86px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 50px;
    position: absolute;
    margin-left: 84%;
<<<<<<< HEAD
    
}

=======
}
>>>>>>> 725448e227435bf8d8f778e0f0a3c0a1d8df730f
.top {
    position: absolute;
    width: 450px;
    height: 100px;
    border-top-left-radius: 30px;
    background-color: #CE1131;
    justify-content: center;
    text-align: center;
}
<<<<<<< HEAD

=======
>>>>>>> 725448e227435bf8d8f778e0f0a3c0a1d8df730f
.cir-blanco {
    position: relative;
    width: 86px;
    height: 83px;
    margin-top: -7%;
    margin-left: 30px;
    padding: 7px;
    border-radius: 50px;
    background-color: white;
}
<<<<<<< HEAD

=======
>>>>>>> 725448e227435bf8d8f778e0f0a3c0a1d8df730f
.cir-azul {
    position: relative;
    width: 70px;
    height: 70px;
    border-radius: 50px;
    margin-left: 1PX;
    background-color: #28AAFD;
}
<<<<<<< HEAD

=======
>>>>>>> 725448e227435bf8d8f778e0f0a3c0a1d8df730f
.cir-rojo {
    position: relative;
    width: 20px;
    height: 20px;
    margin-top: 20px;
    margin-left: 32%;
    border-radius: 50px;
    background-color: #FF4763;
<<<<<<< HEAD

}

=======
}
>>>>>>> 725448e227435bf8d8f778e0f0a3c0a1d8df730f
.cir-amarillo {
    position: relative;
    width: 20px;
    height: 20px;
    margin-top: -4.5%;
    margin-left: 40%;
    border-radius: 50px;
    background-color: yellow;
}
<<<<<<< HEAD

=======
>>>>>>> 725448e227435bf8d8f778e0f0a3c0a1d8df730f
.cir-verde {
    position: relative;
    width: 20px;
    height: 20px;
    margin-top: -4.5%;
    margin-left: 48%;
    border-radius: 50px;
    background-color: green;
<<<<<<< HEAD

}

=======
}
>>>>>>> 725448e227435bf8d8f778e0f0a3c0a1d8df730f
form {
    position: absolute;
    width: 280px;
    height: 80px;
    background-color: #BD0F34;
    justify-content: center;
    text-align: center;
    margin-top: 25%;
    margin-left: 15%;
}
<<<<<<< HEAD

=======
>>>>>>> 725448e227435bf8d8f778e0f0a3c0a1d8df730f
label {
    font-family: 'Roboto Mono', monospace;
    margin-top: 3%;
    color: azure;
}
<<<<<<< HEAD

=======
>>>>>>> 725448e227435bf8d8f778e0f0a3c0a1d8df730f
input {
    width: 40%;
    margin-top: 3%;
}
<<<<<<< HEAD

=======
>>>>>>> 725448e227435bf8d8f778e0f0a3c0a1d8df730f
#section2 {
    margin-top: auto;
    margin-left: 2%;
    background-color: #BD0F34;
    height: 600px;
    width: 420px;
    border-radius: 10%;
}
<<<<<<< HEAD

=======
>>>>>>> 725448e227435bf8d8f778e0f0a3c0a1d8df730f
.poke-card::before {
    content: '';
    background: radial-gradient(black 33%, transparent 33%);
    background-size: 3px 3px;
    border-radius: 4px;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: -1;
}
<<<<<<< HEAD

=======
>>>>>>> 725448e227435bf8d8f778e0f0a3c0a1d8df730f
.img-container {
    position: relative;
    width: 180px;
    margin: 10px auto;
}
<<<<<<< HEAD

=======
>>>>>>> 725448e227435bf8d8f778e0f0a3c0a1d8df730f
.poke-stats div {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    padding: 5px;
    font-size: 18px;
}
<<<<<<< HEAD

=======
>>>>>>> 725448e227435bf8d8f778e0f0a3c0a1d8df730f
.poke-types div {
    padding: 5px;
    margin: 5px;
    border-radius: 4px;
    border: 1px dashed black;
}
<<<<<<< HEAD

=======
>>>>>>> 725448e227435bf8d8f778e0f0a3c0a1d8df730f
.footer {
    color: rgb(0, 0, 0);
    padding: 0.5em 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: large;
<<<<<<< HEAD
}
=======
}

* {
    box-sizing: border-box;
  }
  body {
    margin: 0;
    background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(73, 9, 121, 0.8855742125951943) 0%,
      rgba(244, 0, 255, 1) 100%,
      rgba(3, 153, 216, 1) 100%
    );
  }
  button {
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 2em;
    cursor: pointer;
  }
  .lists__pokemons {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    gap: 2em;
    padding: 1em;
    text-align: center;
  }
  .pokemon__img {
    border: 1px solid #ccc;
    width: 100%;
    border-radius: 3px;
    margin-top: 8em;
    color: #fff;
    padding: 0.5em;
  }
  .pokemon__img img {
    height: 200px;
    width: 100%;
    margin-top: -5em;
  }
  .buttons {
    display: flex;
    justify-content: center;
    width: 200px;
    margin: 2em auto 2em;
  }
>>>>>>> 725448e227435bf8d8f778e0f0a3c0a1d8df730f
